module.exports = {
  areaCode: "",
  telPrefix: "",
  telSuffix: "",
  firstName: '',
  lastName: '',
  locations: [
    {
      id: "503",
      name: "San Francisco"
    },
    {
      id: "599",
      name: "Daly City"
    }
  ],
  threshold: 30,
  twilio: {
    accountSid: 'SID',
    authToken: 'TOKEN',
    serviceSid: 'SID',
    toNumber: '+11234567890',
    fromNumber: '+11234567890',
  },
  twitter: {
    accessToken: '',
    accessTokenSecret: '',
    consumerKey: '',
    consumerSecret: '',
  },
};
